
/*BG TABS*/
#fizicka-osoba, #poslovni-subjekt{
    background: #F5F5F5;
}
.poslovna-osoba{
    opacity: 0;
}
.znakovi{
    display: block;
    text-align: right;
}
.steper div:nth-child(1) .steper-tx{
    transform: translateX(16px);
    }
 .razmak{
        padding: 2rem 0;
    }
    .razmakRadio{
        padding-bottom: 1rem;
    }
/*FORM STYLING*/
#myForm  p{
    color: #525252;
}
#myForm  h1,h2,h3,h4{
    color: #525252;
}
#myForm2  p{
    color: #525252;
}
#myForm2 h1,h2,h3,h4{
    color: #525252;
}
.korak .center{
    text-align: center;
}
/*VISA*/
.kartice{
    /* display: flex; */
    justify-content: center;
     display: none; 
    flex-wrap: wrap;
    margin: 0 !important;
}
.kartice p:first-child {
    width: 100%;
  }
  
  .kartice p:not(:first-child) {
    flex: 0;
  }
.kartice p {
    text-align: center;
    
}
.kartice img{
    padding: 1rem 2rem;
    width: 130px;
}
/**SLIKE KRUG*/
.tabs-steper .innerMenuHolder img{
    width: initial;
    margin:auto;
    margin-top: 12%;
}
.tabs-steper a[href="#poslovni-subjekt"] img{
    margin-top: 23%;
}
/****STEPER****/


/* Make circles that indicate the steps of the form: */
.step { width: 50px;
    width: 50px;
    height: 42px;
    border-radius: 50px;
    background: #B3B3B3;
    display: block;
    font-size: 1.5rem;
    transform: translateY(-45%);
    cursor: pointer;
    color: white;
    padding-top: 9px;
    }


.step.active {opacity: 1; background-color: #F36F20; font-weight: bold; }

.step.finish {background-color: #F36F20; }

.error {color: #f00; }
.steper{
    display: flex;
    justify-content: center;
  
    width: 90%;
    margin: 4.5rem auto 8rem auto;
}

.steper div{
    width: 25%;
    text-align: center;
    background: #B3B3B3;
    height: 9px;
}
.steper div:last-child{
    width: 0;
   
}

.steper div span.steper-broj{
    width: 50px;
    height: 38px;
    border-radius: 50px;
    background: #B3B3B3;
    display: block;
    
    transform: translateY(-45%);
    font-weight: bold;
    color:white;
    padding-top: 13px;
    cursor: pointer;
}
.steper div span.steper-tx{
  /* margin-left:0%;
  text-align:center; */
  display: flex;
    /* width:200px; */
    transform: translateX(-9%);
    font-size: 0.7rem;
    color: #525252;
}
.steper div:last-child span::after{
   display: none;
}
.stepper-buttons div{
    text-align: center;
    padding: 6.5em 0;
}
.stepper-buttons div button{
    background: #F36F20;
    padding: 0.8rem 3.5rem;
    color:white;
    text-transform: uppercase;
    border:1px solid #F36F20;
    font-weight: bold;
    font-size: 0.8rem;
}
.stepper-buttons div button.previous{
    background: #ffffff;
    font-weight: bold;
    color: #525252;
}

/****KORACI****/
.korak{display: none; width: 90%; height: 50%;margin: 0px auto;}
.current{display: block;visibility: visible;
    opacity: 1;}

.previous {background-color: #bbbbbb; }
.korak .error{
    color: #f00;;  
}
.korak label.error{
    text-transform: initial;
}
.korak p input.error{
    border: 1px solid #f00;
}
#myForm button{
    cursor: pointer;
}
 .korak input:not([type=radio]), .korak textarea{
    width: 100%;
    border: 1px solid #D4D4D4;
    padding: 1rem;
    font-size: 0.9rem;
}

.korak input::placeholder, .korak textarea::placeholder{ 
   color: #D4D4D4;
}
.korak label{
    font-size: 0.9rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-weight: bold;
    color: #525252;
}

.korak-radio label{
    text-transform: initial;
}

.radio-textarea {
    display: none;
}


/****CUSTOM RADIO BUTTONS****/

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F36F20;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/**CUSTOM FILE UPLOAD*/
/*https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/*/
input[type="file"] {
    display: block;
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
} 
.custom-file-upload1,.custom-file-upload2 , .custom-file-upload3,.custom-file-upload4,.custom-file-upload5 , .custom-file-upload6 {
    border: 1px solid #D4D4D4;
    display: inline-block;
    padding: 1rem 0 0rem 1rem;
    cursor: pointer;
    width: 100%;
    background: white;
    margin: 1rem 0;
}
.custom-file-upload1 img,.custom-file-upload2 img, .custom-file-upload3 img, .custom-file-upload4 img, .custom-file-upload5 img, .custom-file-upload6 img{
  padding: 0 1rem;
  padding-bottom: 0.3rem;
}

/**DOCUMENTS*/
.dokumenti, .dokumenti2,.dokumenti3,.dokumenti4{
    display: none;
}
.dokumenti a span, .dokumenti2 a span, .dokumenti3 a span, .dokumenti4 a span{
    color: #525252;
    padding: 0 1rem;
    text-transform: uppercase;
}
.dokumenti a, .dokumenti2 a,.dokumenti3 a, .dokumenti4 a{
    display: block;
    padding: 0.6rem 0;
}

/**CUSTOM CHECKBOX*/
.checkbox input{
    width: 1rem !important;
    height: 1rem;
    margin-right: 8px;
    transform: translateY(3px);
}
/* p.checkbox {
    margin: 2rem 0;
} */


.headerSection {
     transition: linear all 0.4s;
 
}



/*** PREDAJA ZAHTJEVA***/
#predajaZahtj{
    background: #F5F5F5;
}
#predajaZahtj .mainHeadline{
    
    margin: 4rem 0 5rem 0;
 }
.predajaPoruka{
    width: 80%;
    padding: 2rem;
    background: white;
    text-align: center;
    margin:auto;
    border: 1px solid #D4D4D4;
}
.predajaPoruka p{
    text-align: center;
}


.zatrazenaOdgoda{
    padding-top: 2rem;
}
/**

RESPONZIVA

**/
@media only screen and (max-width: 900px){
    .tabs-steper .whiteSection {
         margin-bottom: 0px; 
    }
}
@media only screen and (max-width: 720px){
    .tabs-steper .innerMenuHolder img {
        margin-top: 0%;
        max-width: 15px;
    }
    .tabs-steper a[href="#poslovni-subjekt"] img {
         margin-top: 4%; 
    }
    .greySection .textHolder #myForm .steper,  .greySection .textHolder #myForm2 .steper{
        margin: 3rem 0 6rem 0;
    }
    #fizicka-osoba .greySection.cardMid.faq-list .textHolder div.kartice{
        margin: auto !important;
    }
    #fizicka-osoba .greySection.cardMid.faq-list .textHolder div.korak{
        margin: auto !important;
    }
    .stepper-buttons div {
        text-align: center;
        padding: 3.5em 0;
    }
    
    .stepper-buttons div button{
        padding: 0.8rem 1.5rem;
    }
    .greySection.cardMid.faq-list .textHolder div.visa{
        margin: 50px 25px 6px 50px;
    }
}
@media only screen and (max-width: 480px){
    .steper {
        transform: translateX(-9px);
    }
    .steper div span.steper-tx {
      
        width: 70px;
        transform: translateX(-17%);
      
    }
    .stepper-buttons div button {
        padding: 0.8rem 0.9rem;
    }
}
.blocks { display: none;
    text-align: center; }